<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PagingTemplet</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.nings.testservlet.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageServletTest</display-name>
    <servlet-name>PageServletTest</servlet-name>
    <servlet-class>com.nings.testservlet.PageServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServletTest</servlet-name>
    <url-pattern>/PageServletTest</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encode</filter-name>
    <filter-class>com.nings.util.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encode</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PageServlet2</display-name>
    <servlet-name>PageServlet2</servlet-name>
    <servlet-class>com.nings.testservlet.PageServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet2</servlet-name>
    <url-pattern>/PageServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonServlet</display-name>
    <servlet-name>JsonServlet</servlet-name>
    <servlet-class>com.nings.testservlet.JsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/JsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImagesToService</display-name>
    <servlet-name>UploadImagesToService</servlet-name>
    <servlet-class>com.nings.testservlet.UploadImagesToService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImagesToService</servlet-name>
    <url-pattern>/UploadImagesToService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeblogicTestJDBC</display-name>
    <servlet-name>WeblogicTestJDBC</servlet-name>
    <servlet-class>com.nings.testservlet.WeblogicTestJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeblogicTestJDBC</servlet-name>
    <url-pattern>/WeblogicTestJDBC</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>PageServlet</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.nings.testservlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/PageServlet</url-pattern>
  </servlet-mapping>
</web-app>